
<div class="side-class">
<br>
<br>
<img class="pic" src="https://png.pngtree.com/element_origin_min_pic/16/12/07/921c6d12350e366ee4af07eb9055ab40.jpg">
<br>
<label>{{login}}</label>
<br>
<br>
<br>
<br>
  <div data-toggle="collapse">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton">Quotation
    <span class="caret"></span></button>
    <ul>
    	<li><font size="4;" color="white">{{option1}}</font></li>
    	<li><font size="4;" color="white">{{option2}}</font></li>
    </ul>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Underwriting
    <span class="caret"></span></button>
    <br>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Accounting<span class="caret"></span>
    </button>
    <br>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Claims
    <span class="caret"></span></button>
    <br>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Security
    <span class="caret"></span></button>
  </div>



<div>